
#fullLogo .title {
  font-family: 'Philosopher';
  color: #c62828;
  display: flex;
  place-items: flex-end;
  font-weight: 600;
}

#fullLogo img {
  width: 3.2rem;
}

#shortLogo .title {
  font-family: 'Philosopher';
  font-size: 3.5rem;
  font-weight: 500;
  color: #c62828;
}

#shortLogo {
  display: flex;
  width: 4.1rem;
  height: 5.5rem;
}

#shortLogo img {
  width: 2.3rem;
  position: relative;
  bottom: .6rem;
  right: 3.2rem;
}


#shortLogo :nth-child(2) {
  transform: scale(-1, 1)
}